@{
    ViewBag.Title = "Media Services";
}

<a class="btn btn-primary" href="http://75.118.10.0:32400/web/index.html#!/"  role="button"> Plex Server </a>
<a class="btn btn-primary" href="http://75.118.10.0:32081"  role="button"> Download Movies </a>
<a class="btn btn-primary" href="http://75.118.10.0:32084"  role="button"> Download TV Shows </a>

