@{
    ViewBag.Title = "Media Services";
}

<a class="btn btn-primary" href="http://s0567990.eero.online:32400/web/index.html#!/" target="_blank" role="button"> Plex Server </a>
<a class="btn btn-primary" href="http://s0567990.eero.online:38082/login?returnUrl=/" target="_blank" role="button"> Download TV </a>
<a class="btn btn-primary" href="http://s0567990.eero.online:38084/login?returnUrl=%2F" target="_blank" role="button"> Download Movies </a>

