@{
    ViewBag.Title = "Social Media";
}

<script>
    $(document).ready(function () {
        $('img.FacebookIcon').click(function () {
            window.location.href = $(this).attr("href");
        });

    })
</script>

<div>This page will catalog my social media. </div>
<br />
<a><img class="FacebookIcon" href="https://www.facebook.com/humphries.40" /></a>
